:host {
  display: block;
}

.userList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: calc(12 * 64px + 12 * 4px);
  padding: 4px;
  margin-bottom: -4px;
  margin-right: -4px;

  & > * {
    margin-bottom: 4px;
    margin-right: 4px;
  }
}

.userListItem {
  background-size: contain;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
}
