<ng-container *ngIf="state$ | ngrxPush as state">
  <main>
    <app-header></app-header>
    <app-repository-form [repository]="state.repository" (valueChange)="selectRepository($event)"></app-repository-form>

    <ng-container *ngIf="state.loading; else showResult">
      <img height="100" src="assets/images/loading.gif" />
    </ng-container>
    <ng-template #showResult>
      <ng-container *ngIf="state.contributors.length > 0; else showNoResult">
        <div class="generatedResult">
          <renderer-contributor-list [list]="state.contributors"> </renderer-contributor-list>

          <app-image-snippet
            *ngIf="state.repository && state.showImageSnippet"
            [repository]="state.repository"
          ></app-image-snippet>

          <button *ngIf="!state.showImageSnippet" mat-stroked-button color="primary" (click)="showImageSnippet()">
            Get Image URL!
          </button>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #showNoResult>
      <div>No Result. Is the repository name correct?</div>
    </ng-template>

    <app-repository-gallery [repositories]="state.repositories"></app-repository-gallery>

    <app-footer></app-footer>
  </main>
</ng-container>
