:host {
  display: block;
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  padding: 64px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > :not(:last-child) {
    margin-bottom: 32px;
  }
}

@use '~@angular/material' as mat;

.generatedResult {
  @include mat.elevation(4);
  padding: 8px;
  border-radius: 8px;
  background: transparent;
  display: flex;
  flex-direction: column;

  > :not(:last-child) {
    margin-bottom: 16px;
  }
}
