/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@use '~@angular/material' as mat;

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat.define-typography-config(
  $font-family: "'Montserrat', sans-serif",
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 500),
);

@include mat.core($custom-typography);

.mat-form-field.--no-hint {
  .mat-form-field-wrapper {
    padding-bottom: unset;
  }
}
