rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /development/{document=**} {
      allow read;
      allow write: if false;
    }
    match /staging/{document=**} {
      allow read;
      allow write: if false;
    }
    match /production/{document=**} {
      allow read;
      allow write: if false;
    }
  }
}
