<ng-container *rxSubscribe="state$; let state">
  <main>
    <app-header></app-header>
    <app-form [repository]="state.repository" (valueChange)="selectRepository($event)"></app-form>

    <ng-container *ngIf="state.loading; else showResult">
      <mat-spinner color="primary"></mat-spinner>
    </ng-container>
    <ng-template #showResult>
      <ng-container *ngIf="state.contributors.length > 0; else showNoResult">
        <div class="generatedResult">
          <app-contributor-list id="contributors" [list]="state.contributors"> </app-contributor-list>

          <app-image-snippet *ngIf="state.repository" [repository]="state.repository"></app-image-snippet>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #showNoResult>
      <div>No Result. Is the repository name correct?</div>
    </ng-template>

    <div class="footer">
      &copy; 2019 - Suguru Inatomi
    </div>
  </main>
</ng-container>
