<main>
  <app-header></app-header>
  <app-form></app-form>

  <ng-container
    *ngIf="{
      list: contributors$ | async,
      imageSnippet: imageSnippet$ | async,
      loading: contributorsLoading$ | async
    } as snapshot"
  >
    <ng-container *ngIf="snapshot.loading; else showResult">
      <mat-spinner color="primary"></mat-spinner>
    </ng-container>
    <ng-template #showResult>
      <ng-container *ngIf="snapshot.list.length > 0; else showNoResult">
        <div class="generatedResult">
          <app-contributor-list id="contributors" [list]="snapshot.list"> </app-contributor-list>

          <div class="imageUrlText">
            <span>Copy & Paste in README.md</span>
            <textarea readonly rows="6" style="padding: 8px;">{{ snapshot.imageSnippet }}</textarea>
          </div>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #showNoResult>
      <div>No Result. Is the repository name correct?</div>
    </ng-template>
  </ng-container>

  <div class="footer">
    &copy; 2019 - Suguru Inatomi
  </div>
</main>
