<div class="heading">Copy & Paste in README.md</div>
<textarea class="snippet" readonly rows="5" style="padding: 8px">{{ imageSnippet }}</textarea>
<div>
  <span class="">Available options (Add to image URL query params)</span>
  <dl style="margin: 4px 0">
    <dt style="font-family: monospace; font-size: 14px">{{ 'max={number}' }}</dt>
    <dd style="font-size: 14px; margin-inline-start: 2rem">Max contributor count (100 by default)</dd>
    <dt style="font-family: monospace; font-size: 14px">{{ 'columns={number}' }}</dt>
    <dd style="font-size: 14px; margin-inline-start: 2rem">Max columns (12 by default)</dd>
  </dl>
</div>
