@use '@angular/material' as mat;

:host {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: bold;
}

ul.gallery {
  li {
    list-style: none;

    a {
      color: unset;
    }
  }

  padding: 0;
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: space-evenly;

  > :not(:last-child) {
    padding-bottom: 16px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.gallery-item {
  box-sizing: border-box;
  width: 100%;
  height: 128px;
  padding: 0 0 16px 0;

  @media (min-width: 768px) {
    max-width: 50%;
    padding: 0 16px 16px 0;
  }
}

.repo {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .repo-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    margin-bottom: 16px;

    > :not(:last-child) {
      margin-right: 4px;
    }
  }

  .repo-image {
    width: auto;
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: 16px;
  }

  .repo-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .repo-numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
}
