<ng-container *rxSubscribe="state$; let state">
  <main>
    <app-header></app-header>
    <app-repository-form [repository]="state.repository" (valueChange)="selectRepository($event)"></app-repository-form>

    <ng-container *ngIf="state.loading; else showResult">
      <img height="100" src="assets/images/loading.gif" />
    </ng-container>
    <ng-template #showResult>
      <ng-container *ngIf="state.contributors.length > 0; else showNoResult">
        <div class="generatedResult">
          <app-contributor-list id="contributors" [list]="state.contributors"> </app-contributor-list>

          <app-image-snippet *ngIf="state.repository" [repository]="state.repository"></app-image-snippet>
        </div>
      </ng-container>
    </ng-template>
    <ng-template #showNoResult>
      <div>No Result. Is the repository name correct?</div>
    </ng-template>

    <app-footer></app-footer>
  </main>
</ng-container>
