name: 'Deploy (staging)'

on:
  push:
    branches:
      - master

env:
  YARN_CACHE_FOLDER: .cache/yarn
  GCP_PROJECT_ID: contributors-img
  CLOUD_RUN_SERVICE_NAME: api-staging
  CLOUD_RUN_REGION: us-central1
  APP_CACHE_BUCKET: cache.storage.stg.contrib.rocks

jobs:
  install-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: nodenv/actions-node-version@v2
        id: nodenv
      - uses: actions/setup-node@v2
        with:
          node-version: '${{ steps.nodenv.outputs.node-version }}'
      - uses: actions/cache@v2
        with:
          path: ${YARN_CACHE_FOLDER}
          key: ${{ runner.os }}-yarn-global
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
      - run: yarn install --frozen-lockfile

  deploy:
    runs-on: ubuntu-latest
    needs: [install-deps]
    steps:
      - uses: actions/checkout@v2
      - uses: nodenv/actions-node-version@v2
        id: nodenv
      - uses: actions/setup-node@v2
        with:
          node-version: '${{ steps.nodenv.outputs.node-version }}'
      - uses: actions/cache@v2
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.1
        with:
          project_id: ${{ env.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - run: yarn install --frozen-lockfile
      - run: yarn build:all:staging --skip-nx-cache
      - name: Deploy API to Cloud Run
        run: |
          gcloud --quiet beta run deploy ${CLOUD_RUN_SERVICE_NAME} \
          --source dist/apps/api \
          --region ${CLOUD_RUN_REGION} --platform managed --allow-unauthenticated \
          --memory 1Gi \
          --set-env-vars GITHUB_AUTH_TOKEN="${{ secrets.GH_AUTH_TOKEN }}" \
          --set-env-vars CACHE_STORAGE_BUCKET="${APP_CACHE_BUCKET}"
      - name: Deploy webapp to Firebase
        run: yarn firebase deploy --project=${GCP_PROJECT_ID} --only=hosting:staging
