name: Deploy (staging)

on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Install dependencies
      run: |
        yarn install
        yarn --cwd functions install

    - name: Copy .env
      run: yarn --cwd functions run env:dev

    - name: build
      run: yarn build:staging

    - name: deploy
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
      run: yarn firebase -P dev deploy --token $FIREBASE_TOKEN

    - name: pull-request-action
      uses: vsoch/pull-request-action@1.0.12
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH_PREFIX: "master"
        PULL_REQUEST_BRANCH: "production"
        PULL_REQUEST_TITLE: "release"

